body {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
    background-color: #ffffff;
}
.benefits-item h3 {
    font-family: roboto, Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.benefits-button,
.slide-button {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.main-header-logo {
    color: #000
}

.main-header-logo:hover {
    color: #000000;
    opacity: 0.7;
}
.main-header-logo:active {
    color: #000000;
    opacity: 0.5;
}
.main-navigation {
    font-size: 16px;
    line-height: 30px;
    background-color: #eeeeee;
    
}
.site-navigation li {
    display: inline;
    margin-right: 50px;
    
}
.site-navigation,
.user-navigation {
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;   
}
.site-navigation a,
.user-navigation a {
    color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
    color: #000000;
}
.slider {
    color: #000000;
    background-color: #eeeeee;
}
.slide-button {
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
}
.slide-button:hover {
    background-color: #e74246;
}
.slide-button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}
.slide-header-feature {
    font-size: 55px;
    line-height: 55px;
}
.slide-feature slide {
    font-size: 16px;
}
.benefits {
    color: #000000;
    background-color: #ffffff;
}
.benefits-list {
    list-style: none;
}
.benefits-item a {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px
    text-transform: uppercase;
    color: #ffffff;
}
.benefits-sites a {
    background-color: #fb565a;
}
.benefits-sites a:focus,
.benefits-sites a:hover {
    background-color: #e74246;
}
.benefits-sites a:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}
.benefits-annexes a {
    background-color: #00ca74;
}
.benefits-annexes a:focus,
.benefits-annexes a:hover {
    background-color: #00bc6c;
}
.benefits-annexes a:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
}
.benefits-order a {
    background-color: #efc84a;
}
.benefits-order a:focus,
.benefits-order a:hover {
    background-color: #eab534;
}
.benefits-order a:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
}
.benefits-two {
    color: #000000;
    
    background-color: #ffffff;
}
.benefits-from {
    color: #000000;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}
.benefits-header {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.features-p {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.title {
    color: #000000;
    font-size: 45px;
    font-weight: bold;
}
.value {
    color: #000000;
    font-size: 16px;
    line-height: 18px;
}
.picture-list1:hover,
.picture-list2:hover,
.picture-list3:hover,
.picture-list4:hover {
    opacity: 1;
}
.picture-list1,
.picture-list2,
.picture-list3,
.picture-list4 {
    opacity: 0.2;
}
.picture-list1:active,
.picture-list2:active,
.picture-list3:active,
.picture-list4:active {
    opacity: 0.1;
}
.contacts {
    font-family: roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}
.contacts-p {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    font-weight: normal;
}
.button-contacts-button {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
}
.main-footer {
    background-color: #ffffff;
}
.social-button {
    color: #ffffff;
    background-color: #e1e1e1;
}
.social-button:hover {
    background-color: #e74246;
}
.social-button:focus {
    background-color: #e74246;
}
.social-button:active {
    color: rgba(255,255,255,0.3);
    background-color: #d7373b;
}
.be-friends {
    font-family: roboto, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}
.discount {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: normal;
}
.page-title {
    font-size: 55px;
    line-height: 55px;
}
.filter fieldset {
    border: none;
}
/*отсюда дублируем*/
.filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.filter ul {
    list-style: none;
    line-height: 26px;
}
.filter-input:hover + label,
.filter-input:focus + label {
    color: #283136;
}
.filter-input:hover + label {
    color: #000000;
}
.filter-input:active + label {
    color: #000000;
    opacity: 0.;   
}
.filter-input:disabled + label {
    color: #000000;

    opacity: 0.3;
}
.catalog-sorting {
    list-style: none;
}
.sorting {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.catalog-sorting a{
    color: #000000;
    opacity: 0.3;
}
.catalog-sorting a:hover {
    color: #000000;
    opacity: 0.6;
}
.catalog-sorting a:active {
    color: #000000;
    opacity: 1;
}
.catalog-list {
    list-style: none;
}
.catalog-item h3 {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    
}
.template-description {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.button-order {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
}
.button-order:hover {
    background-color: #2421b3;
}
.button-order:active {
    background-color: #d7373b;
}
.pagination-list {
    list-style: none;
}
.pagination-item a {
    color: #000000;

    background-color: #eeeeee;
}
.pagination-item a:hover {
    background-color: #dfdfdf;
}
.pagination-item a:active {
    background-color: #d5d5d5;
}


.pagination-item-current a {
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
    color: #000000;

    background-color: #ffffff;
}
.pagination-item-current a:focus, {
    border-color: #dfdfdf;
}
 /* ----- Сеточные стили ----- */


html,
body {
    min-width: 1200px;
    min-height: 1750px;
}
.container {
    width: 100%;
    margin: 0 20;
    padding: 0 20px;
    
}
.main-header {
    margin-bottom: 18;
    
}
.main-navigation {
    display: flex;
    flex-direction: column;
    height: 65px;
}
.main-header-logo {
    width: 160px;
    height: 65px;
}
.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}
.site-navigation {
    width: 520px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation {
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.benefits-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 80px;
}

.benefits-item {
    width: 300px;
}
.benefits-two-column {
    display: flex;
    justify-content: space-between;
    min-height: 525px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.benefits-two {
    width: 700px;
}
.features {
    width: 400px;
}

.picture-item {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    list-style: none;
}

.picture-list1 {
    width: 260px;
}
.picture-list2 {
    width: 260px;
}
.picture-list3 {
    width: 260px;
}
.picture-list4 {
    width: 260px;
}

/* пошел подвал*/

.main-footer .container {
    display: flex;
}

.footer-social {
    margin: 0;
    width: 260px;
    margin-left: 80px;
    list-style: none;
}

.footer_be-friends {
    margin-left: 80px;
    width: 560px;
    margin: 0;
}
















